@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<p style="text-align:center" class="text-danger lead">
    <strong> @Html.ValidationMessage("RegisterMessage")</strong>
</p>
